<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>Browse</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "icon" type = "image/x-icon" href = "../static/images/widhyalogo.jpg">
  <link rel="stylesheet" href="../static/css/browse_missions.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
		<img src="../static/images/widhyalogo.jpg" style="height:50px;width:50px" class="navbar-brand my-auto">
  <a class="navbar-brand"style="color:rgba(255,0,255,0.5) !important; font-weight:600;" href="#" >Widhya Internship</a>
 
    <ul class="navbar-nav ">
      <li class="nav-item ml-3 mr-3">
        <a class="nav-link" href="#">Browse</a>
      </li>
      <li class="nav-item ml-3 mr-3">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item ml-3 mr-3">
        <a class="nav-link" href="#">Active Missions</a>
      </li>
    </ul>
</nav>
<h1 class="text-center mt-4 ">Browse Your Missions</h1>
<form class="col-sm-10 mx-auto mt-4 ">
  <div class="form-group row ">

             <div class="col-sm-9">
                  <input type="text" class="form-control" id="staticMission" placeholder="Enter the field you are looking to get better at">
             </div>
 <button class="btn btn-success col-sm-3" type="submit">Submit</button>
  </div>
</form>

<div class="row ml-3">

<div class="card  mt-4 mx-auto" style="width: 18rem;">
  <img src="../static/images/googlelogo.png" class="card-img-top" alt="..." style="height:250px !important;width:250px !important;">
  <div class="card-body">
    <h5 class="card-title">Mission Name</h5>
    <p class="card-text">Some quick example text to build on the mission highlights and make up the bulk of the mission's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card  mt-4 mx-auto" style="width: 18rem;">
  <img src="../static/images/applelogo.png" class="card-img-top" alt="..." style="height:250px !important;width:250px !important;">
  <div class="card-body">
    <h5 class="card-title">Mission Name</h5>
    <p class="card-text">Some quick example text to build on the mission highlights and make up the bulk of the mission's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card mt-4 mx-auto" style="width: 18rem;">
  <img src="../static/images/facebooklogo.png" class="card-img-top" alt="..." style="height:250px !important;width:250px !important;">
  <div class="card-body">
    <h5 class="card-title">Mission Name</h5>
    <p class="card-text">Some quick example text to build on the mission highlights and make up the bulk of the mission's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card mt-4 mx-auto" style="width: 18rem;">
  <img src="../static/images/amazonlogo.png" class="card-img-top" alt="..." style="height:250px !important;width:250px !important;">
  <div class="card-body">
    <h5 class="card-title">Mission Name</h5>
    <p class="card-text">Some quick example text to build on the mission highlights and make up the bulk of the mission's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card mt-4 mx-auto" style="width: 18rem;">
  <img src="../static/images/microsoftlogo.jpg" class="card-img-top" alt="..." style="height:250px !important;width:250px !important;">
  <div class="card-body">
    <h5 class="card-title">Mission Name</h5>
    <p class="card-text">Some quick example text to build on the mission highlights and make up the bulk of the mission's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


<div class="card mt-4 mx-auto" style="width: 18rem;">
  <img src="../static/images/localelogo.png" class="card-img-top" alt="..." style="height:250px !important;width:250px !important;">
  <div class="card-body">
    <h5 class="card-title">Mission Name</h5>
    <p class="card-text">Some quick example text to build on the mission highlights and make up the bulk of the mission's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card mt-4 mx-auto" style="width: 18rem;">
  <img src="../static/images/discordlogo.png" class="card-img-top" alt="..." style="height:250px !important;width:250px !important;">
  <div class="card-body">
    <h5 class="card-title">Mission Name</h5>
    <p class="card-text">Some quick example text to build on the mission highlights and make up the bulk of the mission's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>




</div>

  </body>
</html>

