{% extends 'layout.html' %}

{% block body %}

	<section class="countdown">
		<p id="timer"></p>
	</section>

	<div class="container-white">
		<div class="column-left">
			<br><br><img src="{{ url_for('static',filename='intro.jpg') }}">
		</div>
		<div class="column-right">
			<center><h1>What is Widhya?</h1></center>
			<span class ="lead">The kingdom of knowledge has kicked off a path of an ideological renaissance, with numerous teaching and learning techniques. We believe in creating a symbiosis of education and technology which brings up the augment ordinary teaching and learning skills to new pinnacles.<br><br>
We provide a platform for young talents to showcase their skills, network with the and create opportunities with an identity to be recognized by the well established personalities of industries and to create a portal for an epitome of diverse skills. It’s no secret that internships are the most effective way for students to gain exposure before
graduation and kick start their careers.<br><br>
At Widhya, we aim towards building a unique platform bringing students and employers
together under one roof, helping employers find grassroots of their companies by choosing
students. Our core focus is to remove the concept of rote learning, enabling students to focus on
learning by doing and help recruiters find the real cream from the pool of talent, trying to
solve the near failure of India's education system.<br/><br/>
			</span>
		</div>
	</div>
	<div class="container-black">
		<div class="column-left-2">
			<center><h1>Widhya For Students</h1></center><br>
			<span class="lead">Do you want to get recognized in this competitive world?<br>
Do you want to be ahead of everyone and get the best job/college?<br><br>
Widhya gives you an opportunity to get professional experience in a challenging environment. We not only help you to win the so called race but we help you know your future recruiters. We help students learn certain set of skills which they can use later in their lives and make this world a better place to live in. An internship can develop young individual’s skills and develop their entrepreneurial skills
which are on of the most important skills to survive in this world.<br><br>
Unemployment being an uncovered issue faced by our country, Widhya helps contribute to this issue giving a chance to recent graduates and undergraduates to boom up their skills and help expand their network helping them personally and professionally.<br>
Our internship programs help ambitious young learners throw themselves into
challenging roles with a wide range of companies around the world.<br/><br/>
			</span>
		</div>
		<div class="column-right-2">
			<img src="{{ url_for('static',filename='intro.jpg') }}">
		</div>
	</div>

	<div class="container-maroon">
		<div class="column-left">
			<br><br><img src="{{ url_for('static',filename='intro.jpg') }}">
		</div>
		<div class="column-right">
			<center><h1>Widhya For Recruiters</h1></center><br>
			<span class ="lead">Communicating and choosing candidates through our platform's features will make the whole process faster and efficient. Meet your short-term skills requirement by bringing in young talent from diverse backgrounds in an affordable way.<br><br>

<center><h3>NGOs</h3><center>
Looking for Volunteers for your project?<br>
Let’s find them together! Reduce your overhead and administration time as we help source talented volunteers from our network.<br><br>

<center><h3>Start Ups</h3></center>
Fuel your start up and gain a competitive advantage over your competitors. Provide a fulfilling experience for interns who are passionate to learn and contribute to your venture as much as you are. Boost your workplace culture by bringing in high potential, eager young people, ready to make an impact. <br><br>

<center><h3>Companies</h3></center>
Millennials are bound to dominate half the global workforce by 2020. Adapt to new trends
and become millennial-friendly. Our talent solutions are always bringing a youthful edge to
the corporate cultures around the world.<br/><br/>
			</span>
		</div>
	</div>

	<div class="container-white">
		<div class="column-left-2">
			<center><h1>Widhya For Students</h1></center><br>
			<span class="lead">No work experience? No problem, create your experience here.<br>
Ambitious enough to believe you can make a positive impact in our world? Well, we believe
you can.<br><br>
			<ul type="list-style-type:square">
				<li>We believe in change.</li>
				<li>We believe in making a difference.</li>
				<li>We believe in potential and not GPA.</li>
				<li>We believe in skills not streams.</li>
				<li>Show off your skills by completing the micro task.</li>
				<li>Work on a micro tasks and secure an Internship!</li>
			</ul>
Micro tasks are missions/levels of work which ensure completion of the project. All our micro tasks are work from home real time industry (micro) projects, which could be completed anytime long with your academic program or during your internship.
Internships
Searching for the next opportunity to level yourself up and gain professional experience?
Differentiate yourself through an internship.
Star up specific : Does a dynamic, fast-paced work environment excite you? Begin your
entrepreneurial journey with an internship at a startup!<br/><br/>
			</span>
		</div>
		<div class="column-right-2">
			<img src="{{ url_for('static',filename='intro.jpg') }}">
		</div>
	</div>

<div class="container-black-full">
		<center><h1>Our Core Values</h1></center><br>
		<span class="lead"><center>
		<h3>Learn Constantly</h3>
We are inquisitive and curious about everything. Learning is the most important part of our process. We prioritize long term expertise over short term gains.<br><br>

		<h3>Innovate Fearlessly</h3>
We are not afraid of failure. We embrace challenge. We support and empower each other to go against the status quo.<br><br>

		<h3>Be Data Driven</h3>
When it can be measured- we measure it. KPIs &gt; vanity metrics. We are always thinking about what data we have and how to use it.<br><br>

		<h3>Default to Transparency</h3>
We value honest and open communication. We communicate relationships, processes and what is going on &quot;behind the scenes&quot;.<br>
We believe sharing information is the best way to foster transparency in our field.<br><br>

		<h3>Take Action</h3>
We focus on what we can accomplish today. Small wins lead to big success. We take ownership. We see projects through and communicate results.<br><br>

		<h3>Put Community First</h3>
We put our communities’ goals first. We talk in terms of their priorities, helping them to discover what they want and how to achieve it. We seek feedback from our<br>community constantly.
We engage in conversations, not monologues.<br><br>

		<h3>Give Warm Fuzzies</h3>
We support the team. We give both positive and constructive feedback regularly. We share information proactively. We are collaborative and ego-less when<br>
searching for the best ideas.<br><br>

		<h3>Care Intensely</h3>
We work passionately (but not obsessively… usually). We constantly pursue projects that
excite us and align with our mission.<br/><br/>
		</center></span>
	</div>

<script>
	var countDownDate = new Date("March 1, 2019 00:00:00").getTime();

	var x = setInterval(function() {
		var now = new Date().getTime();
		var distance = countDownDate - now;
		var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);
		document.getElementById("timer").innerHTML = "Widhya will be with ya in <br>" + days + "d " + hours + "h "
		+ minutes + "m " + seconds + "s ";

		// If the count down is over, write some text 
		if (distance < 0) {
		clearInterval(x);
		document.getElementById("timer").innerHTML = "We are live now!";
		}
	}, 1000);
</script>
{% endblock %}
