{% extends 'layout.html' %}

{% block body %}
	<div id="widhya-page">
		<div class="container-wrap">
		<a href="#" class="js-widhya-nav-toggle widhya-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		<aside id="widhya-aside" role="complementary" class="border js-fullheight"  style="background: #225c7b;">
			<div class="text-center">
				<div class="author-img" style="background-image: url(static/images/asidelogo.jpg);"></div>
				<h1 id="widhya-logo" style="color:#f9bf3f;">Widhya</h1>
				<span class="position" style="color:white;">Working To Change The Learning Methodology in India</span>
			</div>
			<nav id="widhya-main-menu" role="navigation" class="navbar">
				<div id="navbar" class="collapse" style=" background: #225c7b;">
					<ul>
						<li class="active"><a href="#" data-nav-section="home" style="color:#f9bf3f;">Home</a></li>
						<li><a href="#" data-nav-section="about" style="color:#f9bf3f;">About</a></li>
						<!--<li><a href="#" data-nav-section="services" style="color:#f9bf3f;">Our Values</a></li>-->
						<li><a href="#" data-nav-section="skills" style="color:#f9bf3f;">Skills</a></li>
						<li><a href="#" data-nav-section="education" style="color:#f9bf3f;">Education</a></li>
						<li><a href="#" data-nav-section="experience" style="color:#f9bf3f;">Experience</a></li>
						<li><a href="#" data-nav-section="work" style="color:#f9bf3f;">Work</a></li>
						<!--<li><a href="#" data-nav-section="blog" style="color:#f9bf3f;">Blog</a></li>-->
						<li><a href="#" data-nav-section="contact" style="color:#f9bf3f;">Contact</a></li>
					</ul>
				</div>
			</nav>

			<div class="widhya-footer">
				<p><small> <!-- Link back to widhya can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
				</small></p>
				<ul>
					<li><a href="https://www.facebook.com/Widhya.Org"><i class="icon-facebook2"></i></a></li>
					<li><a href="https://www.twitter.com/Widhya75433869"><i class="icon-twitter2"></i></a></li>
					<li><a href="https://www.instagram.com/widhya_org"><i class="icon-instagram"></i></a></li>
					<li><a href="https://www.linkedin.com/company/widhya"><i class="icon-linkedin2"></i></a></li>
				</ul>
			</div>

		</aside>

		<div id="widhya-main">
			<section id="widhya-hero" class="js-fullheight" data-section="home">
				<div class="flexslider js-fullheight">
					<ul class="slides">
				   	<li style="background-image: url(static/images/img_bg_1.jpg)";">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner js-fullheight">
					   					<div class="desc">
						   					<h1>Hi! <br>I'm Widhya</h1>
											</div>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				   	<li style="background-image: url(static/images/img_bg_2.jpg);">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner">
					   					<div class="desc">
						   					<h1>I am <br>a Change! A change that you all need!</h1>
											</div>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				  	</ul>
			  	</div>
			</section>

			<center><h2 style="color:#ffffff"> Lakshya, my pre launch event in </h2></center>
			<div id="widhya-counter" class="widhya-counters" style="background-image: url(static/images/cover_bg_1.jpg);" data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="widhya-narrow-content">
					<div class="row">
					</div>
					<div class="row">
						<div class="col-md-3 text-center animate-box">
							<span class="widhya-counter js-counter" id="timer-days"></span>
							<span class="widhya-counter-label">Days</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="widhya-counter js-counter" id="timer-hours"></span>
							<span class="widhya-counter-label">Hours</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="widhya-counter js-counter" id="timer-minutes"></span>
							<span class="widhya-counter-label">Minutes</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="widhya-counter js-counter" id="timer-seconds"></span>
							<span class="widhya-counter-label">Seconds</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
					<div class="hire">
						<center>
						<h2>Want To Attend The Event?</h2>
						<a href="https://stumagz.com/lakshya-pre-launch-of-widhya" class="btn-hire">Book Your Passes Now!</a><br/><br/>
						<h2>Stand a chance to bag exciting goodies, internships and a lot of other exciting prizes!</h2>
						</center>
					</div>
				</div>
			</div>

			<section class="widhya-about" data-section="about">
				<div class="widhya-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta" style="color:#f9bf3f;">About Us</span>
										<h2 class="widhya-heading" style="color:white;">How Will Widhya Be With Ya?</h2>
										<p class="custom-text" style="color:white;"><strong>Hi I'm Widhya!</strong> Widhya is a platform that aims to solve the problem of the near failure of the education system. Focuses on a "<b>Learning By Doing</b>" approach, thereby removing the concept of rote learning. Widhya doesn't judge you based on your marks and grades, but all we that matters is, your quality of work.</p>
										<p class="custom-text" style="color:white;">The best part is that <b>anybody pursuing any course can choose to learn about and work on any concept</b> on the platform.
											Learning, in my language, does not mean going through a set of lectures or going to class and
											listening to your professors speak. Learning, in my language means, to learn while doing and how will that happen you might wonder!
										</p>
										<p class="custom-text" style="color:white;">I offer <b>micro-tasks</b> that you could solve and on solving a set of micro-tasks
										</p>
										<h2 class="widhya-heading" style="color:white;">What are Micro-Tasks?</h2>
										<p class="custom-text" style="color:white;">Micro-Tasks are real time industrial projects given to me by various companies. These micro-tasks are small
											scale problems that you will have to solve in order to complete a <b>Mission</b>. A <b>Mission is a set of micro-tasks</b> and every mission will have some
											material that you can refer to, incase you get stuck.
										</p>
										<p class="custom-text" style="color:white;"> On successfully completing a Mission, <b>I will personally recommend you for an internship</b> at the partner company from whom
											I got this Mission. Either way, I'll make sure you get a certificate of achievement from my side and the parent company's side!<br/><br/>
											<b>Sounds great right!?</b>
										</p>
										</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
									<div class="services color-1">
										<span class="icon2"><i class="icon-bulb"></i></span>
										<h3 style="color:white;">Learning By Doing</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
									<div class="services color-2">
										<span class="icon2"><i class="icon-globe-outline"></i></span>
										<h3 style="color:white;">Diversity In Working Field</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInTop">
									<div class="services color-3">
										<span class="icon2"><i class="icon-data"></i></span>
										<h3 style="color:white;">Get Industrial Experience</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInBottom">
									<div class="services color-4">
										<span class="icon2"><i class="icon-phone3"></i></span>
										<h3 style="color:white;">Work & Learn At Your Own Pace</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>



			<!--<section class="widhya-services" data-section="services">
				<div class="widhya-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">What I do?</span>
							<h2 class="widhya-heading">Here are some of my expertise</h2>
						</div>
					</div>
					<div class="row row-pt-md">
						<div class="col-md-4 text-center animate-box">
							<div class="services color-1">
								<span class="icon">
									<i class="icon-bulb"></i>
								</span>
								<div class="desc">
									<h3>Innovative Ideas</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box">
							<div class="services color-2">
								<span class="icon">
									<i class="icon-data"></i>
								</span>
								<div class="desc">
									<h3>Software</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box">
							<div class="services color-3">
								<span class="icon">
									<i class="icon-phone3"></i>
								</span>
								<div class="desc">
									<h3>Application</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box">
							<div class="services color-4">
								<span class="icon">
									<i class="icon-layers2"></i>
								</span>
								<div class="desc">
									<h3>Graphic Design</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box">
							<div class="services color-5">
								<span class="icon">
									<i class="icon-data"></i>
								</span>
								<div class="desc">
									<h3>Software</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box">
							<div class="services color-6">
								<span class="icon">
									<i class="icon-phone3"></i>
								</span>
								<div class="desc">
									<h3>Application</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>-->


			<section class="widhya-skills" data-section="skills">
				<div class="widhya-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta" style="color:#f9bf3f;">My Specialty</span>
							<h2 class="widhya-heading animate-box" style="color:white;">How I Wish To Create A Difference</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<p style="color:white;">Creating a difference is not that easy, but I believe that we need to start somewhere to create a difference. And to help me achieve my goal, I need your help. I'm trying to remove the current rote learning approach of learning which focusing on a more learning by doing approach and I'll be able to achieve my goal only if you all beging to adopt this methodology of learning!</p>
						</div>
						<!--<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h2>India Before 2019</h2>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h2>India After Widhya</h2>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3 style="color:white;">Rote Learning</h3>
								<div class="progress">
								 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="75"
								  	aria-valuemin="0" aria-valuemax="100" style="width:75%">
								    <span>75%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3 style="color:white;">Rote Learning</h3>
								<div class="progress">
								 	<div class="progress-bar color-2" role="progressbar" aria-valuenow="40"
								  	aria-valuemin="0" aria-valuemax="100" style="width:40%">
								    <span>35%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3 style="color:white;">Learning By Doing</h3>
								<div class="progress">
								 	<div class="progress-bar color-3" role="progressbar" aria-valuenow="50"
								  	aria-valuemin="0" aria-valuemax="100" style="width:50%">
								    <span>45%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3 style="color:white;">Learning By Doing</h3>
								<div class="progress">
								 	<div class="progress-bar color-4" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:80%">
								    <span>80%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3 style="color:white;">Access To Realtime Industrial<br>Projects</h3>
								<div class="progress">
								 	<div class="progress-bar color-5" role="progressbar" aria-valuenow="30"
								  	aria-valuemin="0" aria-valuemax="100" style="width:30%">
								    <span>30%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3 style="color:white;">Access To Realtime Industrial<br>Projects</h3>
								<div class="progress">
								 	<div class="progress-bar color-6" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
								    <span>70%</span>
								  	</div>
								</div>
							</div>
						</div>-->
					</div>
				</div>
			</section>

			<section class="widhya-education" data-section="education">
				<div class="widhya-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta" style="color:#f9bf3f;">What I'm Capable Of Doing</span>
							<h2 class="widhya-heading animate-box">Education</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<div class="fancy-collapse-panel">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingOne">
									        <h4 class="panel-title">
									            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Mission Arts @ Widhya
									            </a>
									        </h4>
									    </div>
									    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									         <div class="panel-body">
									            <div class="row">
										      		<div class="col-md-6">
										      			<p>More Details Coming Soon!</p>
										      		</div>
										      		<div class="col-md-6">
										      			<p></p>
										      		</div>
										      	</div>
									         </div>
									    </div>
									</div>
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingTwo">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Mission Technology @ Widhya
									            </a>
									        </h4>
									    </div>
									    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									        <div class="panel-body">
									            <p>More Details Coming Soon!</p>
									        </div>
									    </div>
									</div>
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingThree">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Mission Marketing @ Widhya
									            </a>
									        </h4>
									    </div>
									    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									        <div class="panel-body">
														<p>More Details Coming Soon!</p>
									        </div>
									    </div>
									</div>

									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingFour">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Mission Business Development @ Widhya
									            </a>
									        </h4>
									    </div>
									    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
									        <div class="panel-body">
														<p>More Details Coming Soon!</p>
									        </div>
									    </div>
									</div>

									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingFive">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Mission Human Resources @ Widhya
									            </a>
									        </h4>
									    </div>
									    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
									        <div class="panel-body">
									            <p>More Details Coming Soon!</p>
									        </div>
									    </div>
									</div>
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingFive">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Mission Engineering @ Widhya
									            </a>
									        </h4>
									    </div>
									    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
									        <div class="panel-body">
									            <p>More Details Coming Soon!</p>
									        </div>
									    </div>
									</div>
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingFive">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Mission Everything @ Widhya
									            </a>
									        </h4>
									    </div>
									    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
									        <div class="panel-body">
									            <p>More Details Coming Soon!</p>
									        </div>
									    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="widhya-experience" data-section="experience">
				<div class="widhya-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta" style="color:#f9bf3f;">Experience</span>
							<h2 class="widhya-heading animate-box" style="color:white;">Work Experience</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
				         <div class="timeline-centered">
					         <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#">Launch Event and Official Launch of Product</a> <span>March 2019</span></h2>
															<p>The Launch event will mark my official birth as a product since all of you will start using me from then to achieve your dreams.</p>
												 </div>
					            </div>
					         </article>


					         <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-2">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2>Pre Launch Event <span>February 2018</span></h2>
													<p>The Pre Launch Event aims to get motivated students under one roof and convey the essence of what Widhya is. It's about spreading the word about Widhya and making students understand how Widhya being different from other platforms, can help them achieve their career goals in a faster and more efficient manner.</p>
												 </div>
					            </div>
					         </article>

					         <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-3">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2>Product Development, Community Expansion & Understanding Student Problems <span>January 2019 - Present</span></h2>
													<p>Once this became what Rahul and Rishabh lived for, they decided to start working on building the product. But before they built the product, they wanted to understand how the community might take up their product. Also, they wanted to understand the problems students face in a better manner, so they decided to start interacting directly with the students.</p>
					               </div>
					            </div>
					         </article>

					         <article class="timeline-entry animate-box" data-animate-effect="fadeInTop">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-4">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2>Idea Refinement and Constant Feature Addition To Product <span>November 2018 - Present</span></h2>
													<p>After putting the idea on to paper, Rahul spoke to his roommate, Rishabh, about me and slowly, this became all that Rishabh could think of to. Day in and day out, they thought about how they could make me better and help a larger crowd by giving everyone an equal opportunity.</p>
					               </div>
					            </div>
					         </article>

					         <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-5">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2>The Seed Of The Idea Planted In The Head <span>November 2018</span></h2>
					                  <p>One cold night in the month of November, when Rahul was listening to "In The End" by Linkin Park, I took birth as an idea in his head and slowly this idea took over his whole brain and heart.</p>
					               </div>
					            </div>
					         </article>

					         <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-none">
					               </div>
					            </div>
					         </article>
					      </div>
					   </div>
				   </div>
				</div>
			</section>

			<section class="widhya-work" data-section="work">
				<div class="widhya-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta" style="color:#f9bf3f;">How I Work</span>
							<h2 class="widhya-heading animate-box" style="color:white;">The Team That I Work With</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="project" style="background-image: url(static/images/rahul.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Rahul Arulkumaran</a></h3>
										<span>Co-Founder</span>
										<p class="icon">
											<span><a href="https://www.linkedin.com/in/rahul-arulkumaran" class="fa fa-linkedin"></a></span>
											<span><a href="mailto:rahulkumaran313@gmail.com" class="fa fa-google"></a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="project" style="background-image: url(static/images/rishabh.png);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Rishabh Singh</a></h3>
										<span>Co-Founder</span>
										<p class="icon">
											<span><a href="https://www.linkedin.com/in/rishabhsingh" class="fa fa-linkedin"></a></span>
											<span><a href="mailto:rishabhsingh.rkm@gmail.com" class="fa fa-google"></a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
			</section>

			<!--<section class="widhya-blog" data-section="blog">
				<div class="widhya-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Read</span>
							<h2 class="widhya-heading">Recent Blog</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="blog-entry">
								<a href="blog.html" class="blog-img"><img src="static/images/blog-1.jpg" class="img-responsive" alt="HTML5 Bootstrap Template by widhya.com"></a>
								<div class="desc">
									<span><small>April 14, 2018 </small> | <small> Web Design </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
									<h3><a href="blog.html">Renovating National Gallery</a></h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInRight">
							<div class="blog-entry">
								<a href="blog.html" class="blog-img"><img src="static/images/blog-2.jpg" class="img-responsive" alt="HTML5 Bootstrap Template by widhya.com"></a>
								<div class="desc">
									<span><small>April 14, 2018 </small> | <small> Web Design </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
									<h3><a href="blog.html">Wordpress for a Beginner</a></h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="blog-entry">
								<a href="blog.html" class="blog-img"><img src="static/images/blog-3.jpg" class="img-responsive" alt="HTML5 Bootstrap Template by widhya.com"></a>
								<div class="desc">
									<span><small>April 14, 2018 </small> | <small> Inspiration </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
									<h3><a href="blog.html">Make website from scratch</a></h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box">
							<p><a href="#" class="btn btn-primary btn-lg btn-load-more">Load more <i class="icon-reload"></i></a></p>
						</div>
					</div>
				</div>
			</section>-->

			<section class="widhya-contact" data-section="contact">
				<div class="widhya-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta" style="color:#f9bf3f;">Get in Touch</span>
							<h2 class="widhya-heading">Contact Us</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="widhya-feature widhya-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="widhya-icon">
									<i class="icon-globe-outline"></i>
								</div>
								<div class="widhya-text">
									<p><a href="mailto:widhya.org@gmail.com">widhya.org@gmail.com</a></p>
								</div>
							</div>

							<div class="widhya-feature widhya-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="widhya-icon">
									<i class="icon-map"></i>
								</div>
								<div class="widhya-text">
									<p>Hyderabad</p>
								</div>
							</div>

							<div class="widhya-feature widhya-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="widhya-icon">
									<i class="icon-phone"></i>
								</div>
								<div class="widhya-text">
									<p><a href="tel://+917893798125">+91 7893798125</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-md-push-1">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box" data-animate-effect="fadeInRight">
									<h2 class="widhya-heading">Fill In Your Details To Get More Updates</h2>
									<form action="" method="post">
										{{ form.csrf }}
										<div class="form-group">
											{{ form.name(class_="form-control") }}
										</div>
										<div class="form-group">
											{{ form.email(class_="form-control") }}
										</div>
										<div class="form-group">
											{{ form.phone(class_="form-control") }}
										</div>
										<div class="form-group">
											{{ form.foi(class_="form-control") }}
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-primary btn-send-message" value="Submit">
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>

		</div><!-- end:widhya-main -->
	</div><!-- end:container-wrap -->
	</div><!-- end:widhya-page -->
{% endblock %}
