<!DOCTYPE html>
<html lang="en">
<head>
	<title>Widhya</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/login.css">
<!--===============================================================================================-->
</head>
<body>
<div class="topnav">
	<img src="images/logo.jpg" ALT="Widhya" WIDTH=135 HEIGHT=80> 
	<div class="topnav-right">
		<a href="#home">Home</a>
		<a class="active" href="#login">Sign up</a>
		<a href="#about_us">About us</a>
		<a href="#contact">Contact</a>
	</div>
</div>

	
	 <div class="login">
		<div class="wrap-pic p-l-35 p-r-35 p-t-0 p-b-0">
			<img src="images/image1.jpg" ALT="Widhya" width=500 height=445> 
		</div>
        
           
            
                <div class="wrap-login p-l-35 p-r-35 p-t-20 p-b-20">
                    <form method="POST" id="signup-form" class="login100-form">
					<span class="login100-form-title p-b-0">
						<div class="nav">
						  <a href="#company">Company</a>
						  <a href="#student">Student</a>
						</div>
					</span>
                        
                        <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is required">
						<span class="label-input100"></span>
                            <input type="text" class="s-input100" name="name" id="name" placeholder="Name"/>
							<span class="focus-input100" ></span>
                        </div>
                          <div class="wrap-input100 validate-input m-b-23" data-validate = "Email is required">
						<span class="label-input100"></span>
                            <input type="email" class="s-input100" name="email" id="email" placeholder="Email"/>
							<span class="focus-input100" ></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-23" data-validate = "Password is required">
						<span class="label-input100"></span>
                            <input type="text" class="s-input100" name="password" id="password" placeholder="Password"/>
                            <span toggle="#password" class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-23" data-validate = "Password is required">
						<span class="label-input100"></span>
                            <input type="password" class="s-input100" name="re_password" id="re_password" placeholder="Confirm password"/>
							<span toggle="#password" class="focus-input100"></span>
						</div>
                        
                        <div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								SIGNUP
							</button>
						</div>
					</div>

									

					<div class="flex-col-c p-t-25">
						<span class="txt1">
							Already have an account?
						

						<a href="login.html" class="txt2">
							 Login
						</a>
						</span>
					</div>
				</form>
                </div>
            </div>
  

    </div>
									


	<div id="dropDownSelect1"></div>


</body>
</html>
