{% extends "layout.html" %}
{% block body %}
	<link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
<h1 style="text-align:center;" class="mb-4 mt-3">Get Ready for some microtasks</h1>
<div class="row">
     <div class="table-responsive col-sm-3  ml-4">
	<table class="table table-striped">
		<tr>
			<td>
			<a href="#demo1" class="btn btn-success" data-toggle="collapse">MicroTask-1</a>
<?xml version="1.0" encoding="iso-8859-1"?>

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve" width="48px" height="48px" class="ml-3">
<g id="surface1_4_">
	<path style="fill:#4CAF50;" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"/>
	<path style="fill:#CCFF90;" d="M34.602,14.602L21,28.199l-5.602-5.598l-2.797,2.797L21,33.801l16.398-16.402L34.602,14.602z"/>
</g>
</svg>
<div id="demo1" class="collapse mt-2">
	Task details here
<br><br><br><br><br><br><br><br><br><br>
<div class="btn-group">
<button class="btn btn-success">Submit MicroTask</button>
<button class="btn btn-danger">Ask For Help</button>
<button class="btn btn-warning">Resource List</button>
</div>
</div>
		    </td>
		</tr>

		<tr>
			<td>
<a href="#demo2" class="btn btn-info" data-toggle="collapse">MicroTask-2</a>
<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
<svg enable-background="new 0 0 24 24" height="24px" id="Layer_1" version="1.1" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="lock ml-3"><path clip-rule="evenodd" d="M20.002,24.001H4.014c-1.104,0-1.998-0.896-1.998-2.001V11.994  c0-1.105,0.895-2.002,1.998-2.002h0.999V6.991c0-3.868,3.132-7.004,6.995-7.004s6.995,3.136,6.995,7.004v3.001h0.999  c1.104,0,1.998,0.896,1.998,2.002V22C22,23.104,21.105,24.001,20.002,24.001z M16.005,6.991c0-2.21-1.79-4.002-3.997-4.002  S8.011,4.781,8.011,6.991v3.001h7.994V6.991z" fill-rule="evenodd"/></svg>

<div id="demo2" class="collapse mt-2">
	Task details here
<br><br><br><br><br><br><br><br><br><br>
<div class="btn-group">
<button class="btn btn-success">Submit MicroTask</button>
<button class="btn btn-danger">Ask For Help</button>
<button class="btn btn-warning">Resource List</button>
</div>
</div>
  		    </td>
		</tr>

		


		<tr>
			<td>
			<a href="#demo3" class="btn btn-info" data-toggle="collapse">MicroTask-3</a>
<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
<svg enable-background="new 0 0 24 24" height="24px" id="Layer_1" version="1.1" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="lock ml-3"><path clip-rule="evenodd" d="M20.002,24.001H4.014c-1.104,0-1.998-0.896-1.998-2.001V11.994  c0-1.105,0.895-2.002,1.998-2.002h0.999V6.991c0-3.868,3.132-7.004,6.995-7.004s6.995,3.136,6.995,7.004v3.001h0.999  c1.104,0,1.998,0.896,1.998,2.002V22C22,23.104,21.105,24.001,20.002,24.001z M16.005,6.991c0-2.21-1.79-4.002-3.997-4.002  S8.011,4.781,8.011,6.991v3.001h7.994V6.991z" fill-rule="evenodd"/></svg>
<div id="demo3" class="collapse mt-2">
	Task details here
<br><br><br><br><br><br><br><br><br><br>
<div class="btn-group">
<button class="btn btn-success">Submit MicroTask</button>
<button class="btn btn-danger">Ask For Help</button>
<button class="btn btn-warning">Resource List</button>
</div>
</div>
		    </td>
		</tr>

		<tr>
			<td>
			<a href="#demo4" class="btn btn-info" data-toggle="collapse">MicroTask-4</a>
<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
<svg enable-background="new 0 0 24 24" height="24px" id="Layer_1" version="1.1" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="lock ml-3"><path clip-rule="evenodd" d="M20.002,24.001H4.014c-1.104,0-1.998-0.896-1.998-2.001V11.994  c0-1.105,0.895-2.002,1.998-2.002h0.999V6.991c0-3.868,3.132-7.004,6.995-7.004s6.995,3.136,6.995,7.004v3.001h0.999  c1.104,0,1.998,0.896,1.998,2.002V22C22,23.104,21.105,24.001,20.002,24.001z M16.005,6.991c0-2.21-1.79-4.002-3.997-4.002  S8.011,4.781,8.011,6.991v3.001h7.994V6.991z" fill-rule="evenodd"/></svg>
<div id="demo4" class="collapse mt-2">
	Task details here
<br><br><br><br><br><br><br><br><br><br>
<div class="btn-group">
<button class="btn btn-success">Submit MicroTask</button>
<button class="btn btn-danger">Ask For Help</button>
<button class="btn btn-warning">Resource List</button>
</div>
</div>
		    </td>
		</tr>
		<tr>
			<td>
			<a href="#demo5" class="btn btn-info" data-toggle="collapse">MicroTask-5</a>
<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
<svg enable-background="new 0 0 24 24" height="24px" id="Layer_1" version="1.1" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="lock ml-3"><path clip-rule="evenodd" d="M20.002,24.001H4.014c-1.104,0-1.998-0.896-1.998-2.001V11.994  c0-1.105,0.895-2.002,1.998-2.002h0.999V6.991c0-3.868,3.132-7.004,6.995-7.004s6.995,3.136,6.995,7.004v3.001h0.999  c1.104,0,1.998,0.896,1.998,2.002V22C22,23.104,21.105,24.001,20.002,24.001z M16.005,6.991c0-2.21-1.79-4.002-3.997-4.002  S8.011,4.781,8.011,6.991v3.001h7.994V6.991z" fill-rule="evenodd"/></svg>
<div id="demo5" class="collapse mt-2">
	Task details here
<br><br><br><br><br><br><br><br><br><br>
<div class="btn-group">
<button class="btn btn-success">Submit MicroTask</button>
<button class="btn btn-danger">Ask For Help</button>
<button class="btn btn-warning">Resource List</button>
</div>
</div>
		    </td>
		</tr>
		<tr>
			<td>
			<a href="#demo6" class="btn btn-info" data-toggle="collapse">MicroTask-6</a>
<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
<svg enable-background="new 0 0 24 24" height="24px" id="Layer_1" version="1.1" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="lock ml-3"><path clip-rule="evenodd" d="M20.002,24.001H4.014c-1.104,0-1.998-0.896-1.998-2.001V11.994  c0-1.105,0.895-2.002,1.998-2.002h0.999V6.991c0-3.868,3.132-7.004,6.995-7.004s6.995,3.136,6.995,7.004v3.001h0.999  c1.104,0,1.998,0.896,1.998,2.002V22C22,23.104,21.105,24.001,20.002,24.001z M16.005,6.991c0-2.21-1.79-4.002-3.997-4.002  S8.011,4.781,8.011,6.991v3.001h7.994V6.991z" fill-rule="evenodd"/></svg>
<div id="demo6" class="collapse mt-2">
	Task details here
<br><br><br><br><br><br><br><br><br><br>
<div class="btn-group">
<button class="btn btn-success">Submit MicroTask</button>
<button class="btn btn-danger">Ask For Help</button>
<button class="btn btn-warning">Resource List</button>
</div>
</div>
		    </td>
		</tr>
	</table>
  
      </div>


<div class="col-sm-8" style="background-color:  rgba(255,253,208,1);" >

<!-- rgba(255,253,208,0.4); light blue -->
<h3 class="task-heading mt-1">Get ready to do a Microtask!!!</h3>
<p class="desc">
Select a microtask of your choice.
<br>
All the best!!!!.
</p>
<div class="btn-group ok mb-2">
<button class="btn btn-success">Submit MicroTask</button>
<button class="btn btn-danger">Ask For Help</button>
<button class="btn btn-warning">Resource List</button>
</div>
</div>



</div>
    

{% endblock %}    

