{% extends 'layout.html' %}

{% block body %}

	<div class="container-white-team">
		<center><h1> Our Team </h1></center>
		<span class="lead">We have a clear vision, we don't believe in perfection, we make the best better, good enough is not just enough for us. We lead by the goals set by us, we benchmark our predecessors. It’s us the people, who inspire other people, we keep ourselves and people around us
focused on making breakthrough results happen.<br><br>

It’s no secret that internships are the most effective way for students to gain exposure before graduation and kick start their careers. At Widhya, we aim towards building a unique platform bringing students and employers together under one roof, helping employers find grassroots of their companies by choosing students.<br><br>
		</span>
	</div>

	<div class="col-md-5 col-sm-12 col-xs-12 inner_card">
		<div class="row">
			<div class="col-md-5">
				<div class="img_area"><img class="photo" src="{{ url_for('static',filename='rahul.jpg') }}"></div>
			</div>
			<div class="col-md-7">
				<h1 class="profile_title">Rahul Arulkumaran</h1>
				<h5 class="profile_desig">CO-FOUNDER</h5>
				<center>
				<a href="https://www.facebook.com/rahularulkumaran" class="fa fb fa-facebook"></a>
				<a href="https://github.com/rahulkumaran" class="fa gh fa-github"></a>
				<a href="https://www.linkedin.com/in/rahul-arulkumaran" class="fa lii fa-linkedin"></a>
				</center>
			</div>
		</div>
	</div>

	<div class="col-md-5 col-sm-12 col-xs-12 inner_card">
		<div class="row">
			<div class="col-md-5">
				<div class="img_area"><img class="photo" src="{{ url_for('static',filename='roomie.jpg') }}"></div>
			</div>
			<div class="col-md-7">
				<h1 class="profile_title">Rishabh Singh</h1>
				<h5 class="profile_desig">CO-FOUNDER</h5>
				<center>
				<a href="https://www.facebook.com/rahularulkumaran" class="fa fb fa-facebook"></a>
				<a href="https://github.com/rahulkumaran" class="fa gh fa-github"></a>
				<a href="https://www.linkedin.com/in/rahul-arulkumaran" class="fa lii fa-linkedin"></a>
				</center>
			</div>
		</div>
	</div>

{% endblock %}
